.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    width: 100%;
    height: 100vh;
}

.container_projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 500px;
    background-color: aliceblue;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.50);
    border-radius: 12px;
    margin-top: 2em;
    gap: 25px;
}

.direita {
    display: flex;
    gap: 75px;
    padding: 1rem;
}

.card-img img{
    width: 200px;
    border-radius: 12px;
}

@media (width <= 1440px) {

    .container_projetos {
        flex-direction: column;
    }

    .direita {
        gap: 40px;
        padding: 0;
        flex-direction: column;
    }
}